*.class
logback/
log/
logs/
bin/
###################### # 解决各类编辑器自动产生的文件 ######################
*.iml
## Directory-based project format:
.idea/
.idea_modules/
.gradle
/build/
/target
*/target
/.settings
/.settings/
*/settings
.classpath
.factorypath
.project
.settings
.springBeans
.class
.gitignore.bak
.gitignore
*.jar
*.war
*.ear
**/src/main/resources/rebel.xml
###################### # 解决maven产生的文件 ######################
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
######################## #配置不提交 #######################################
evo-wes-application/src/main/resources/application.yml
application-dev-local.yml
mock-feign.properties
evo-wes-application/src/main/resources/mock-feign.properties
*/*client/src/main/generated-sources/
**/logs/*
tmp/i18nMD5